<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/dP-PL/LearnMaven/LearnMaven">
        <classes>
            <class name="SeleniumTest1"/>
            <class name="SeleniumTest2"/>
        </classes>
    </test>
</suite>